<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>William Prescott</title>

    <link th:href="@{/assets/css/styles.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/assets/img/logo3.png}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <header class="p-3 text-white">
        <div class="container">
            <div class="header-items d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <a th:href="@{/}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="d-flex align-items-center" th:src="@{/assets/img/prescot.png}" alt="logo" style="width: 70px; height: 80px;">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-dark">Inicio</a></li>
                    <li><a href="#" class="nav-link px-2 text-dark">Nosotros</a></li>
                </ul>
                <div class="text-end">
                    <a th:href="@{/login}" class="btn btn-warning">Intranet</a>
                </div>
            </div>
        </div>
    </header>

    <main >

        <section class="container-carrusel">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img th:src="@{/assets/img/banner1.png}" class="d-block w-100" alt="Banner 1">
                    </div>
                    <div class="carousel-item">
                        <img th:src="@{/assets/img/banner2.jpg}" class="d-block w-100" alt="Banner 2">
                    </div>
                    <div class="carousel-item">
                        <img th:src="@{/assets/img/banner3.jpg}" class="d-block w-100" alt="Banner 3">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </section>

        <section class="container-cards">
            <div class="card-group">

                <div id="inicial" class="card" data-bs-toggle="modal" data-bs-target="#modalCursosInicial"
                    style="cursor: pointer;">
                    <img th:src="@{/assets/img/img1.png}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Inicial</h5>
                    </div>
                </div>

                <div id="primaria" class="card" data-bs-toggle="modal" data-bs-target="#modalCursosPrimaria"
                    style="cursor: pointer;">
                    <img th:src="@{/assets/img/img2.png}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Primaria</h5>
                    </div>
                </div>

                <div id="secundaria" class="card" data-bs-toggle="modal" data-bs-target="#modalCursosSecundaria"
                    style="cursor: pointer;">
                    <img th:src="@{/assets/img/img3.png}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Secundaria</h5>
                    </div>
                </div>

            </div>
        </section>

        <section class="reservar">
            <div class="reservar-content">
                <div class="left-content">
                    <h2>¿DESEA RECIBIR MÁS INFORMACIÓN?</h2>
                    <p>Solicita una cita por videoconferencia o reserva una cita presencial</p>
                </div>
                <div class="rigth-content">
                    <a href="#">Reservar Cita</a>
                </div>
            </div>
        </section>

        <section class="educacion">
            <h2>Educación con criterio científico y humanista</h2>

            <div class="card-group content-edu">

                <div class="card edu">
                    <img th:src="@{/assets/img/pluri.png}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Colegio Pluricultural</h5>
                        <p class="card-text">Somos una escuela multicultural con un programa de formación reconocido.</p>
                    </div>
                </div>

                <div class="card edu">
                    <img th:src="@{/assets/img/valores.png}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Formación con valores</h5>
                        <p class="card-text">Educación enfocada en el desarrollo del ser humano.</p>
                    </div>
                </div>

                <div class="card edu">
                    <img th:src="@{/assets/img/integral.png}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Crecimiento Integral</h5>
                        <p class="card-text">Arte, deporte y responsabilidad social como herramientas educativas.</p>
                    </div>
                </div>

                <div class="card edu">
                    <img th:src="@{/assets/img/ciencia.png}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Ciencia y Tecnología</h5>
                        <p class="card-text">Laboratorios de alta tecnología para el desarrollo científico.</p>
                    </div>
                </div>

            </div>
        </section>

    </main>

    <div class="container-fluid">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3">
                <a th:href="@{/}" class="d-flex align-items-center mb-3 text-decoration-none">
                    <img th:src="@{/assets/img/prescot.png}" alt="" style="width: 100px">
                </a>
                <p class="text-body-secondary">© 2025 William Prescott, Inc. Todos los derechos reservados.</p>
            </div>

            <div class="col mb-3">
                <h5>Nosotros</h5>
                <p>Somos una institución educativa comprometida con la excelencia académica y humana.</p>
            </div>

            <div class="col mb-3">
                <h5>Informes</h5>
                <p>(01) 1123456 / 987654321 <br> informes@school.pe <br> Jr. Cesar Vallejo 123 – Los Olivos</p>
            </div>

            <div class="col mb-3 siguenos">
                <h5>Síguenos</h5>
                <img th:src="@{/assets/img/siguenos.png}" alt="">
            </div>
        </footer>
    </div>

    <div class="modal fade" id="modalCursosInicial" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Cursos - Nivel Inicial</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">Arte y Creatividad</li>
                        <li class="list-group-item">Música y Movimiento</li>
                        <li class="list-group-item">Primeras Letras y Números</li>
                        <li class="list-group-item">Juegos Lógicos</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCursosPrimaria" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Cursos - Nivel Primaria</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">Matemática Fundamental</li>
                        <li class="list-group-item">Lenguaje y Comunicación</li>
                        <li class="list-group-item">Ciencias Naturales</li>
                        <li class="list-group-item">Ciencias Sociales</li>
                        <li class="list-group-item">Computación Básica</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCursosSecundaria" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Cursos - Nivel Secundaria</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">Álgebra y Geometría</li>
                        <li class="list-group-item">Química y Física</li>
                        <li class="list-group-item">Literatura Avanzada</li>
                        <li class="list-group-item">Historia y Geografía</li>
                        <li class="list-group-item">Programación y Robótica</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
