body {
    background-color: #d1c4e9; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('../img/fondo_login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #7adaf1; 
    padding: 30px;
    border-radius: 15px; 
    width: 100%;
    max-width: 400px; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.login-logo {
    max-width: 100px;
    height: auto;
}

.login-title {
    color: #000000;
    font-weight: bold;
}

.login-label {
    color: #333;
    font-weight: bold;
}

.form-control {
    border-radius: 8px; 
    border: 1px solid #ccc;
    padding: 10px;
}

.login-button {
    background-color: #3576d8;
    border-color: #4169E1;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #325ab6;
    border-color: #325ab6;
}

.forgot-password-link {
    color: #3083ff; 
    text-decoration: none;
    font-size: 0.9em;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

